@import '../../assets/styles/variables';


@media #{$mobile} {
    .content{
        margin: 10px 0px;

        h2{
            margin-top: 10px;
        }

        .description{
            font-size:16px;
        }
    }
}
  