$color-primary: #ADC698;
$color-secondary: #D0E3C4;
$color-background: #C05746;
$color-white: #FFFFFF;
$color-byzantium: #503047;
$color-white: #FFFFFF;
$color-dark: #000000 ;

$color-text-white: #FFFFFF;
$color-text-success: #ADC698;
$color-text-danger: rgb(185, 31, 31);
$color-text-warning: #FFD447;
$color-text-info: rgb(68, 142, 172);
$color-text-light: #D0E3C4;
$color-text-dark: #000000;
$color-text-gray: #6b68689a;